.students {
    background-color: #f0f0f0;
    text-align: center;
    height: 400px;
}

.subtitle {
    text-decoration: underline;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}