<div class="students">
    <h3 class="subtitle">Los viajes más pedidos</h3>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <a href="https://pedraza.com.ar/paquetes-turisticos/CENT/BRC/032022/2462/39923#pills-descripcion-2462" target="_blank">
                            <img src="../../../img/bariloche.jpg" class="card-img-top" alt="Bariloche">
                            <div class="card-body">
                                <p class="card-text">INCLUYE:<br> MEDIA PENSION<br> BUS - SEMI CAMA<br> HOTEL DE CATEGORIA
                                    <br> ASISTENCIA AL VIAJERO<br> RESERVA FLEXIBLE
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="../../../img/cataratas.jpg" class="card-img-top" alt="cataratas">
                        <div class="card-body">
                            <a href="https://pedraza.com.ar/paquetes-turisticos/CENT/MDZ/052022/2647/41588" target="_blank">
                                <p class="card-text">INCLUYE:<br> MEDIA PENSION<br> BUS - SEMI CAMA<br> HOTEL GRAN VENDIMIA
                                    <br> ASISTENCIA AL VIAJERO<br> RESERVA FLEXIBLE
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <a href="https://pedraza.com.ar/paquetes-turisticos/CENT/IGR/032022/2442/40349" target="_blank">
                            <img src="../../../img/mendoza.jpg" class="card-img-top" alt="mendoza">
                            <div class="card-body">
                                <p class="card-text">INCLUYE:<br> MEDIA PENSION<br> BUS - SEMI CAMA<br> HOTEL DE EL LIBERTADOR
                                    <br> ASISTENCIA AL VIAJERO<br> RESERVA FLEXIBLE
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>